:root{
    --color-iris:#4D5AE5;
    --color-navy-blue:#2E2F42;
    --color-green:#31D0AA;
    --color-slate:#434455;
    --color-light-slate:#8E8F99;
    --color-cornflower:#E7E9FC;
    --color-cloud:#F4F4FD;
    --color-ocean:#404BBF;
    --tra: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.list{
    list-style: none;
}
.link{
    text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h5,
p{
    margin: 0;
}
ul,ol{
    margin: 0;
    padding-left: 0;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
body{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color:var(--color-slate);
}
.container{
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}
@media screen and (min-width: 428px) {
    .container{
        width: 428px;
        margin-right: auto;
        margin-left: auto;
    }
}
@media screen and (min-width: 768px) {
    .container {
        width: 768px;
    }
}
@media screen and (min-width: 1200px) {
    .container {
        width: 1200px;
    }
}
.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}
.section{
    padding-top: 96px;
    padding-bottom: 96px;
}
.section:nth-child(3) {
    padding: 0;
}
@media screen and (min-width: 1200px){
    .section {
        padding-top: 120px;
        padding-bottom: 120px;
    }
    .section:nth-child(2) {
        padding-bottom: 0px;
    }
    .section:nth-child(3) {
        padding: 120px 0;
    }
}
/*---------------   HEADER  ----------------- */
.header {
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
    background-color: #fff;
    position: fixed;
    top: 0;
    margin: auto;
    z-index: 1;
    height: 70px;
    width: 100%;
}
.logo-1 {
    font-family: 'Raleway', sans-serif;
    color: var(--color-iris);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    text-transform: uppercase;
    padding-top: 24px;
    padding-bottom: 24px;

}
.logo-2 {
    color: var(--color-navy-blue);
}
.header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
}
@media screen and (max-width: 767px) {
    .links-list{
        display: none;
    }
    .mobile-menu-link.current {
        color: var(--color-ocean);
    }
    .contacts-list{
        display: none;
    }
    .header-container{
        justify-content: space-between;
    }
    .btn-open-menu{
        border: none;
        background-color: transparent;
        padding: 0;
    }
    .btn-open-menu-icon{
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        background-color: transparent;
    }
    .mobile-menu{
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background-color: #FFFFFF;
        z-index: 10;
        transition: opacity var(--tra), visibility var(--tra);
    }
    .mobile-menu-container{
        position: relative;
        padding: 80px 40px 40px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        overflow: scroll;
    }
    .close-button {
        width: 24px;
        height: 24px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--color-cornflower);
        border: 1px solid rgba(0, 0, 0, 0.1);
        cursor: pointer;
        position: absolute;
        top: 40px;
        right: 40px;
        transition: background-color var(--tra);
    }
    .close-button:hover {
        background-color: var(--color-ocean);
    }
    
    .close-button:hover>.close-button-icon {
        fill: #FFFFFF;
    }
    
    .close-button-icon {
        fill: #000000;
        transition: fill var(--tra);
    }
    
    .close-button:hover {
        background-color: var(--color-ocean);
    }
    
    .close-button:hover>.close-button-icon {
        fill: #FFFFFF;
    }
    .mobile-menu-links-list{
        margin-bottom: 40px;
    }
    .mobile-menu-link{
        display: block;
        position: relative;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        color: var(--color-navy-blue);
        transition: color var(--tra);
    }
    .mobile-menu-li {
        margin-bottom: 40px;
    }
    .mobile-menu-li:last-child{
        margin-bottom: 0;
    }
    .mobile-menu-link:hover {
        color: var(--color-ocean);
    }
    .mobile-menu-link:focus {
        color: var(--color-ocean);
    }
    .mobile-menu-number{
        font-weight: 600;
        font-size: 36px;
        line-height: 1.11;
        text-transform: capitalize;
        color: var(--color-iris);
        margin-bottom: 40px;
        display: block;
    }
    .mobile-menu-email{
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: var(--color-slate);
        display: block;
        margin-bottom: 48px;
    }
    .menu-icons-list{
        display: flex;
        gap: 56px;
        justify-content: center;
    }
    .menu-icons-link {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--color-iris);
        transition: background-color var(--tra);
    }
    
    .menu-icons-link:hover,
    .menu-icons-link:focus {
        background-color: var(--color-ocean);
    }
}
@media screen and (max-width: 420px){
    .menu-icons-list{
        gap: 30px;
    }
}

@media screen and (min-width: 768px) {
    .navigation {
        display: flex;
        align-items: center;
        margin-right: auto;
    }
    
    .links-list {
        display: flex;
        gap: 40px;
    }
    .btn-open-menu{
        display: none;
    }
    .header-link.current {
        color: var(--color-ocean);
    }
    .header-link:hover,
    .header-link:focus{
        color: var(--color-ocean);
    }
    .current::after {
        position: absolute;
        left: 0;
        bottom: 0;
        content: "";
        display: block;
        width: 100%;
        height: 4px;
        background: var(--color-iris);
        border-radius: 4px;
    }
    .header-link{
        display: block;
        position: relative;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--color-navy-blue);
        padding-top: 24px;
        padding-bottom: 24px;
        transition: color var(--tra);
    }
    .header-container {
        display: flex;
    }
    .header-contacts {
        color: var(--color-slate);
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        padding-top: 24px;
        padding-bottom: 24px;
        transition: color var(--tra);
    }
    .header-contacts:hover {
        color: var(--color-ocean);
    }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
    .header-container {
        align-items: flex-end;
    }
    .logo-2 {
        margin-right: 120px
    }
}
@media screen and (min-width: 1200px){
    .logo-2 {
        margin-right: 76px
    }
    .contacts-list {
        display: flex;
        gap: 40px;
        padding-top: 24px;
        padding-bottom: 24px;
    }
}
/*---------------   MAIN  ----------------- */

.main-section {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
}
.main-section {
    text-align: center;
}
.main-btn {
    width: 170px;
    height: 51px;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background-color: var(--color-iris);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    border-radius: 4px;
    border: inherit;
    transition: background-color var(--tra), box-shadow var(--tra);
}

.main-btn:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    background-color: var(--color-ocean);
}

.main-btn:focus {
    background: var(--color-ocean);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
@media screen and (max-width: 767px){
    .main-section {
        background-image:
            linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url(../images/main/background/background-mobile.png);
        margin: auto;
        padding: 112px 0 112px;
    }
    .main-title {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        text-align: center;
        letter-spacing: 0.02em;
        color: #FFFFFF;
        margin-bottom: 72px;
    }
}
@media screen and (min-width: 428px){
    .main-section{
        width: 428px;
    }
}
@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
screen and (min-resolution: 192dpi) and (max-width: 767px),
screen and (min-resolution: 2dppx) and (max-width: 767px) {
    .main-section {
        background-image:
            linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url(../images/main/background/background-mobile2x.png);
    }
}
@media screen and (min-width: 768px){
    .main-section{
        background-image:
            linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url(../images/main/background/background-tablet.png);
        margin: auto;
        padding: 112px 0 108px;
        width: 768px;
    }
    .main-title{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        text-align: center;
        letter-spacing: 0.02em;
        color: #FFFFFF;
        max-width: 500px;
        margin: 0 auto 72px;
    }
    .main-section {
        padding-top: 112px;
        padding-bottom: 108px;
    }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
screen and (min-resolution: 192dpi) and (min-width: 768px),
screen and (min-resolution: 2dppx) and (min-width: 768px) {
    .main-section {
        background-image:
            linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url(../images/main/background/background-tablet2x.png);
    }
}
@media screen and (min-width: 1200px){
    .main-section {
        background-image:
            linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url(../images/main/background/background-desktop.png);
        width: 100%;
    }
    .main-section {
        padding-top: 188px;
        padding-bottom: 188px;
    }
}
@media screen and (min-width: 1440px){
    .main-section{
        width: 1440px;
    }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
screen and (min-resolution: 192dpi) and (min-width: 1200px),
screen and (min-resolution: 2dppx) and (min-width: 1200px) {
    .main-section {
        background-image:
            linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url(../images/main/background/background-desktop2x.png);
    }
}
/*---------------   SKILLS  ----------------- */

.skills-icons{
    display: none;
}

@media screen and (max-width: 767px) {
    .skill {
        margin-bottom: 72px;
    }
    .skill:last-child {
        margin-bottom: 0;
    }
    .skill-name{
        text-align: center;
    }
}

@media screen and (min-width: 768px) {
    .skills-container{
        display: flex;
        flex-wrap: wrap;
        row-gap: 72px;
        column-gap: 24px;
    }
    .about-skill {
        text-align: left;
        max-width: 356px;
    }
    .skill-name {
        text-align: left;
    }
}
@media screen and (max-width: 1199px){
    .about-skill {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--color-slate);
    }
    .skill-name {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: var(--color-navy-blue);
        margin-bottom: 8px;
    }
}

@media screen and (min-width: 1200px){
    .skill {
            width: calc((100% - 72px) / 4);
    }
    .skills-container {
        gap: 24px;
        margin: 0 auto;
    }
    .skills-icons {
        height: 112px;
        background: var(--color-cloud);
        border-radius: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 8px;
    }
    .skill-name {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        color: var(--color-navy-blue);
        letter-spacing: 0.02em;
        margin-bottom: 8px;
    }
    .about-skill {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--color-slate);
        max-width: 264px;
    }
}
/*---------------   ABOUT OUR WORK  ----------------- */
@media screen and (max-width: 1199px){
    .about-container{
        display: none;
    }
}
@media screen and (min-width: 1200px){
    .about-list {
        display: flex;
        gap: 24px;
    }
    .about-our-work {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: var(--color-navy-blue);
        margin-bottom: 74px;
    }
}
/*---------------   OUR TEAM  ----------------- */
.our-team-section {
    background-color: var(--color-cloud);
}
.team-title {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: var(--color-navy-blue);
        margin-bottom: 72px;
}
.user {
    background-color: #FFFFFF;
    width: 260px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.about-user {
    padding-top: 32px;
    padding-bottom: 32px;
}
.name-user {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: var(--color-navy-blue);
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;
}
.user-work {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-slate);
    text-align: center;
    margin-bottom: 8px;
}
.team-icons-list {
    display: flex;
    gap: 24px;
    justify-content: center;
}

.team-icons-link {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-iris);
    transition: background-color var(--tra);
}

.team-icons-link:hover,
.team-icons-link:focus {
    background-color: var(--color-ocean);
}
@media screen and (max-width: 767px){
    .user{
        margin: 0 auto 72px;
    }
}
@media screen and (min-width: 768px){
    .team-container {
        display: flex;
        flex-wrap: wrap;
        row-gap: 72px;
        column-gap: 24px;
        justify-content: center;
    }
}
@media screen and (min-width: 1200px){
    .team-container{
        gap: 24px;
        flex-wrap: nowrap;
    }
}
/*---------------   CUSTOMERS  ----------------- */
.customers-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--color-navy-blue);
    margin-bottom: 72px;
}
.customers-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 16px;
}
.customers-user {
    width: calc((100% - 16px) / 2);
}
.customers-icons-link {
    height: 88px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--color-light-slate);
    border-radius: 4px;
    color: var(--color-light-slate);
    transition: border-color var(--tra), color var(--tra);
}
.customers-icons-link {
    height: 88px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--color-light-slate);
    border-radius: 4px;
    color: var(--color-light-slate);
    transition: border-color var(--tra), color var(--tra);
}

.customers-icon {
    fill: currentColor;
}

.customers-icons-link:hover,
.customers-icons-link:focus {
    border-color: var(--color-ocean);
    color: var(--color-ocean);
}
@media screen and (min-width: 768px){
    .customers-user {
        width: calc((100% - 48px) / 3);
    }
    .customers-list{
        column-gap: 24px;
    }
}
@media screen and (min-width: 1200px){
    .customers-user {
        width: calc((100% - 120px) / 6);
    }
}
/*---------------   FOOTER  ----------------- */
.footer {
    background-color: var(--color-navy-blue);
    padding-top: 96px;
    padding-bottom: 96px;
}
.footer-text-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 72px;
}
.logo{
    padding: 0;
    margin-bottom: 16px;
}
.logo-3{
    color: var(--color-cloud);
}
.footer-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-cornflower);
    max-width: 264px;
}
.footer-icons-container{
    margin-bottom: 72px;
}
.footer-icons-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}
.footer-icons-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin: 0 auto 16px;
    display: block;
    text-align: center;
}
.footer-icons-link {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
    transition: background-color var(--tra);
}

.footer-icons-link:hover,
.footer-icons-link:focus {
    background-color: var(--color-green);
}

.footer-subscribe-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
    text-align: center;
}
.footer-subscribe-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.footer-subscribe-form{
    width: 100%;
    text-align: center;
}
.footer-subscribe-input {
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: inherit;
    padding: 8px 13px;
    width: calc(100% - 30px);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    outline: none;
    color: var(--color-cloud);
    transition: border var(--tra);
    margin-bottom: 16px;
}

.footer-subscribe-input:focus {
    border: 1px solid var(--color-iris);
}

.footer-subscribe-input:not(:placeholder-shown):not(:focus):valid {
    border: 1px solid var(--color-green)
}

.footer-subscribe-input:not(:placeholder-shown):not(:focus):invalid {
    border: 1px solid red;
}
.footer-subscribe-button {
    padding: 8px 24px 8px 24px;
    background-color: #4D5AE5;
    border-radius: 4px;
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    transition: background-color var(--tra), box-shadow var(--tra);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.footer-subscribe-button:hover,
.footer-subscribe-button:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    background-color: var(--color-ocean);
}

.subscribe-button-icon {
    pointer-events: none;
}

@media screen and (min-width: 768px){
    .footer-icons-container{
        margin-bottom: 0;
    }
    .footer-text-container{
        margin-bottom: 0;
        align-items: baseline;
    }
    .footer-icons-item{
        text-align: left;
    }
    .footer-subscribe-input{
        width: 264px;
        margin: 0;
    }
    .footer-subscribe-form {
        display: flex;
        align-items: center;
        gap: 24px;
    }
    .footer-subscribe-button{
        margin: 0;
    }
    .footer-subscribe-title{
        text-align: start;
    }
    .footer-subscribe-input{
        margin-right: 24px;
    }
    .footer-flex {
        display: flex;
    }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
    .footer-flex {
        align-items: flex-start;
        justify-content: center;
        margin-bottom: 72px;
        gap: 24px;
    }
    .footer-container {
        padding: 0 108px;
    }
}
@media screen and (min-width: 1200px){
    .footer-container{
        display: flex;
        gap: 80px;
        align-items: flex-start;
    }
    .footer-flex{
        gap: 120px;
    }
}

/*---------------   MODAL  ----------------- */

/* .modal-bgd {
    opacity: 1;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(46, 47, 66, 0.4);
    z-index: 2;
    transition: opacity var(--tra), visibility var(--tra);
}

.modal-bgd.is-hidden .modal{
    transform: translate(-50% -50%) scaleY(0);
}

.modal{
    width: 408px;
    position: relative;
    top: 50%;
    left: 50%;
    border-radius: 4px;
    transform: translate(-50%, -50%) scale(1);
    transition: transform var(--tra);
    padding: 72px 24px 24px;
    background-color: #FCFCFC;
}

.close-button{
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-cornflower);
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    position: absolute;
    right: 24px;
    top: 24px;
    transition: background-color var(--tra);

}

.close-button:hover{
    background-color: var(--color-ocean);
}

.close-button:hover > .close-button-icon{
    fill: #FFFFFF;
}

.close-button-icon{
    fill: #000000;
    transition: fill var(--tra);
}

.modal-title{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-navy-blue);
    text-align: center;
    margin-bottom: 16px;
}
.modal-label{
    font-weight: 400;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    color: var(--color-light-slate);
    margin-bottom: 4px;
    display: block;
}
.modal-input-container{
    position: relative;
    margin-bottom: 8px;
}
.modal-input-icon{
    position: absolute;
    top: 11px;
    left: 16px;
    fill:var(--color-navy-blue);
    transition: fill var(--tra);
}
.modal-input{
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;
    padding:0 12px 0 38px;
    transition: border var(--tra);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-navy-blue);
    background-color:transparent
}
.modal-input:focus {
    border: 1px solid var(--color-iris);
}

.modal-input:focus + .modal-input-icon{
    fill: var(--color-iris);
}

.modal-input:not(:placeholder-shown):not(:focus):valid {
    border: 1px solid var(--color-green)
}

.modal-input:not(:placeholder-shown):not(:focus):valid + .modal-input-icon{
    fill: var(--color-green);
}

.modal-input:not(:placeholder-shown):not(:focus):invalid {
    border: 1px solid red;
}

.modal-input:not(:placeholder-shown):not(:focus):invalid+.modal-input-icon {
    fill: red;
}

.modal-textarea{
    width: 100%;
    height: 120px;
    resize: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;
    padding: 8px 16px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    color: rgba(117, 117, 117, 0.5);
    color: var(--color-navy-blue);
    margin-bottom: 16px;
    background-color:transparent;
}
.modal-textarea:focus {
    border: 1px solid var(--color-iris);
}
.modal-textarea::placeholder{
    font-weight: 400;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    color: rgba(117, 117, 117, 0.5);
}
.check-text{
    font-weight: 400;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    color: #757575;
    display: flex;
    align-items: center;
    margin-bottom: 24px;
}
.check-text span{
    width: 16px;
    height: 16px;
    border: 1.25px solid var(--color-navy-blue);
    border-radius: 3px;
    margin-right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:transparent;
    transition: bacground-color var(--tra), border var(--tra);
}
.modal-check-icon{
    fill: var(--color-cloud);
}
.modal-checkbox:checked + .check-text span{
    background-color: var(--color-ocean);
    border: none;
}
.privacy-link{
    text-decoration-line: underline;
    color: var(--color-iris);
    margin-left: 5px;
}
.modal-button{
    width: 169px;
    height: 56px;
    margin:0 auto;
    display: block;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background-color: var(--color-iris);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    border-radius: 4px;
    border: inherit;
    transition: background-color var(--tra), box-shadow var(--tra);
}

.modal-button:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    background-color: var(--color-ocean);
}

.modal-button:focus {
    background: var(--color-ocean);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
} */

/*---------------   PORTFOLIO  ----------------- */
.portfolio-section{
    padding: 48px 0;
    margin-top: 70px;
}
.filters-container {
    display: flex;
    flex-wrap: wrap;
    row-gap: 16px;
    column-gap: 20px;
    padding: 0 0 48px;
}
.filter {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--color-iris);
    background-color: var(--color-cloud);
    border: 1px solid var(--color-cornflower);
    border-radius: 4px;
    cursor: pointer;
    padding: 8px 16px;
    transition: color var(--tra), background-color var(--tra), box-shadow var(--tra), border-color var(--tra);
}

.filter:hover,
.filter:focus {
    color: #FFFFFF;
    background-color: var(--color-ocean);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-color: var(--color-iris);
}

.project {
    background-color: #FFFFFF;
    width: calc(100% - 30px);
}
.project-link {
    display: inline-block;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
    transition: box-shadow var(--tra);
}

.project-link:hover,
.project-link:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
    ;
}

.portfolio-box {
    position: relative;
    width: 360px;
    height: 280px;
    overflow: hidden;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-box:hover .overlay {
    transform: translateY(0);
}

.overlay-text {
    padding: 40px 32px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-cloud);
}

.about-project {
    padding: 32px 16px;
    border-left: 0.5px solid #F4F4FD;
    border-right: 0.5px solid #F4F4FD;
    border-bottom: 0.5px solid #F4F4FD;
}

.portfolio-image {
    width: 100%;
    height: auto;
    display: block;
}

.project-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--color-navy-blue);
    margin-bottom: 8px;
}

.project-type {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-slate);
}
@media screen and (max-width: 767px) {
    .filters-container {
        width: 263px;
    }
    .project{
        margin: 0 auto 48px;
    }
    .project:last-child{
        margin-bottom: 0;
    }
    .portfolio-section .container{
        padding-left: 0;
        padding-right: 0;
    }
}

@media screen and (min-width: 768px) {
    .filters-container {
        justify-content: center;
        gap: 24px;
        margin: 64px 0;
    }
    .filter {
        padding: 12px 24px;
    }
    .project-list {
        display: flex;
        flex-wrap: wrap;
        row-gap: 48px;
        column-gap: 24px;
        margin-bottom: 96px;
    }    
    .project{
        width: calc((100% - 24px) / 2);
    }
}
@media screen and (min-width: 1200px){
    .project-list{
        margin-bottom: 120px;
    }
    .project {
        width: calc((100% - 48px) / 3);
    }
}
/* .filters-container{
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 72px;
}
.filter{
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--color-iris);
    background-color:var(--color-cloud);
    border: 1px solid var(--color-cornflower);
    border-radius: 4px;
    cursor: pointer;
    padding: 12px 24px;
    transition: color var(--tra), background-color var(--tra), box-shadow var(--tra), border-color var(--tra);
}
.filter:hover,
.filter:focus{
    color: #FFFFFF;
    background-color: var(--color-ocean);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-color: var(--color-iris);
}
.project-list{
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 24px;

}
.project{
    background-color: #FFFFFF;
    width: calc((100% - 48px) / 3);
}

.project-link{
    display: inline-block;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
    transition: box-shadow var(--tra);
}

.project-link:hover,
.project-link:focus{
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);;
}

.portfolio-box{
    position: relative;
    width: 360px;
    height: 300px;
    overflow: hidden;
}

.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-box:hover .overlay{
    transform: translateY(0);
} 

.overlay-text{
    padding: 40px 32px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-cloud);
}

.about-project{
    padding: 32px 16px;
    border-left: 0.5px solid #F4F4FD;
    border-right: 0.5px solid #F4F4FD;
    border-bottom: 0.5px solid #F4F4FD;
}
.portfolio-image{
    width: 100%;
    height: auto;
    display: block;
}
.project-name{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--color-navy-blue);
    margin-bottom: 8px;
}
.project-type{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-slate);
} */
